<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LeaderBoard_edit</title>
  <!-- <link rel="stylesheet" href="/style.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
  <h1>Entries Edit</h1>

  <div class="product">
    <form method="POST" action="/products/<%= product.id %>?_method=PUT">

      <div>
        <!-- we're making our app so no one can change the id. -->
        ID: <%= product.id %>
      </div>
      <div>
        Rank: <input type="integer" name="Rank" value="<%= product.price %>">
      </div>
      <div>
        Name: <input type="text" name="name" value="<%= product.name %>">
      </div>
      <div>
        Score: <input type="integer" name="Score" value="<%= product.quantity %>">
      </div>
      <div>

      </div>

      <button type="submit">save changes</button>
    </form>

    <form method="POST" action="/entries/<%= product.id %>?_method=DELETE">
      <button type="submit">Delete score</button>
    </form>
  </div>

  <p>
    <a href="/products/<%= product.id %>"><< Back to leaderBoards</a>
  </p>
</body>
</html>
